--swiftversion 5.9
--indent 4
--indentcase false
--trimwhitespace always
--linebreaks lf
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--importgrouping testable-last
--commas always
--semicolons never
--enable isEmpty
--enable sortImports
--enable blankLinesAroundMark
--enable redundantReturn
--disable wrapMultilineStatementBraces
--exclude .build
--exclude Pods
--exclude DerivedData